<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<h2>
    <h3 th:text="${question.id}"></h3>
    <h3 th:text="${question.subject}"></h3>
    <h3 th:text="${question.content}"></h3>
</h2>

<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
<div>
    <ul>
        <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
    </ul>
</div>

<form th:action="@{|/answer/create/${question.id}|}" method="post">
    <div>
        <span>내용</span>
        <br>
        <textarea name="content" placeholder="내용" rows="5" ></textarea>
    </div>

    <button type="submit">답변등록</button>
</form>